<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi página en Blanco
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ng-container *ngIf="username; else noUsername">
      <strong>Asi que te atreves a mostrar tu cara por aqui de nuevo, eh {{ username }}!?</strong>
    </ng-container>
    <ng-template #noUsername>
      <strong>Ready to create an app?</strong>
    </ng-template>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>